@import url(https://fonts.googleapis.com/css?family=Handlee);
.group-panel {
	margin-top: 20px;
}
.group-avatar img {
	width:100%;
}
.group-title {
	margin-top: 0;
}
.group-summary {
	margin-top: 10px;
}
.group-panel .panel-footer span {
	margin-right: 20px;
	font-size: 18px;
}
.groupnav-bar {
	margin: 10px 0;
	padding: 10px 15px;
	border: 1px solid #ddd;
	border-radius: 5px;
}
.btn-group .btn {
	margin-right: 10px;
}
.syn-og-whiteboard .wp_wysiwyg {
	margin-bottom: 10px;
	padding: 10px 15px;
	border: 3px solid #ddd;
	border-radius: 5px;
	font-family: Handlee, monospace;
	font-size: 18px;
	letter-spacing: 1.25px;
}
.activity .userlink img {
	max-width: 50px;
}
